@media screen and (max-width: 454px) {
  .background {
    background-color: #ffffff;
  }

  .header-background {
    width: 100%;
    height: 350px;
    background: linear-gradient(
      69.82deg,
      #1a4cfb 0%,
      rgba(26, 76, 251, 0) 144.6%
    );
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  .header .header-appbar {
    font-size: 16px;
    font-weight: bold;
  }

  .header .header-appbar-icon {
    width: 22px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .header-content .text-header {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 24px;
  }

  .header-content .img-text-header {
    width: 32px;
    margin-left: 24px;
  }

  .header-content .text-header-desc {
    font-size: 12px;
    margin-bottom: 32px;
  }

  .header-image {
    display: none;
  }

  //body
  .body-content .paper-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 24px;
    padding: 16px;
  }

  .body-content .content-date {
    text-align: center;
    font-size: 16px;
  }

  .body-content .content-location {
    text-align: center;
    font-size: 22px;
  }

  .body-content .content-img-weather {
    width: 200px;
    height: 200px;
  }

  .body-content .content-weather {
    font-size: 40px;
  }

  .body-content .weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
    gap: 56px;
  }

  .body-content .weather-info .weather-info-humidty {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 18px;
  }

  .body-content .weather-info .weather-info-wind {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 18px;
  }

  .body-content .weather-info .weather-info-temperature {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 18px;
  }

  .body-content .paper-weather-recommendation {
    height: 150px;
    background: linear-gradient(
      0deg,
      #ccd8ff -20.49%,
      rgba(171, 190, 255, 0) 189.27%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 16px;
  }

  .body-content .paper-weather-recommendation .weather-recommendation-desc {
    font-size: 18px;
    text-align: center;
  }

  .body-content .future-weathers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 24px;
  }

  .body-content .future-weathers .future-weather-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .body-content .future-weather-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .body-content .future-weather-content .paper-future-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      195.42deg,
      #1a4cfb 6.95%,
      rgba(26, 76, 251, 0) 104.2%
    );
    border-radius: 50px;
    padding: 16px;
    margin-bottom: 10px;
  }

  .body-content .future-weather-content .future-weather-day {
    font-size: 24px;
  }

  .body-content .future-weather-content .future-img-weather {
    width: 175px;
    height: 185px;
  }

  .body-content .future-weather-content .future-weather-weather {
    font-size: 24px;
  }

  .body-content .future-weather-content .future-weather-temperature {
    font-size: 20px;
  }
}
